/* =================================
  Base Element Styles
==================================== */
*, *:before, *:after {
  box-sizing: border-box;
}




body {
  font-family: 'Raleway', sans-serif;
}

header {
  padding: 20px 20px 20px 20px;
  background: #333333;
  color: #FFF;
}

h1 {
  text-align: center;
  margin:auto;
}

p {
  text-align: center;
  margin:auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  color: #a6a6a6;
}

form {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  border-top: 3px solid #000000;
  max-width: 768px;
}

.main-header {
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}

.banner {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 6px solid #000000;
  max-width: 768px;
}

.contact {
 text-align: left;
 font-size: 28px;
}

.newsletter {
  text-align: left;
  font-size: 28px;
  padding-top: 30px;
  margin-top: 10px;
  border-top: 3px solid #000000;
}

.news {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left:-10px;
}

input[type="text"],
input[type="password"],
input[type="street"],
input[type="city"],
input[type="email"],
input[type="state"],
input[type="zip"],
input[type="tel"],
select,
textarea
 {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: left;
}

input:focus {
  border: solid;
  border-color:#333333;
}

textarea:focus {
  border: solid;
  border-color:#333333;
}

label[for="zip"] {
  margin-top: 30px;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 15px 5px 15px;
}

input[placeholder] {
  font-style: italic;
  text-align: right;
}

input[type="zip"] {
  width: 240px;
  margin-top: -7px;
}

select {
  color: #8a97a0;
}

textarea {
  height: 140px;
  margin-top: 40px;
  margin-bottom: 30px;
}

button.submit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #20B2AA;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 40px;
  width: 100%;
}

button:hover {
  opacity: .75;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  color: #a6a6a6;
}

label.light {
  margin-left: 20px;
  font-weight: 300;
  display: inline;
}

span {
  font-size: 20px;
  font-style: italic;
  color: #a6a6a6;
}

footer {
  text-align: center;
  padding-top:20px;
  padding-bottom:200px;
}


@media screen and (min-width:768px ) {

  #content {
      width: 768px;
      margin: 0 auto;
    }

 label[for="zip"] {
      margin-top: 40px;
      margin-bottom: 20px;
    }


  input[type="text"],
  input[type="password"],
  input[type="street"],
  input[type="city"],
  input[type="email"],
  input[type="state"],
  input[type="zip"],
  input[type="tel"],
  select
   {
    width: 74.3%;
  }

  label {
    display: inline-block;
    width: 25%;
    text-align: left;
  }​


  }
